body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about img {
    display: block;
    margin: 0 auto;
}

.skills-category {
    margin-bottom: 20px;
}

.skills-category h4 {
    margin-bottom: 10px;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-icons img {
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.skills-icons img:hover {
    transform: scale(1.1);
}
